html,
body {
   width: 100%;
   height: 100%;
   margin: 0;
}

.container {
   width: 100%;
   height: 100vh;
   /* full viewport height */
}

* {
   box-sizing: border-box;
}

main {
   width: 100%;
   height: 100%;
   background-color: lightgoldenrodyellow;
}

#section-1 {
   width: 100%;
   height: 100%;

}

nav {
   width: 100%;
   display: flex;
   padding: 10px 20px;
   justify-content: space-between;
   align-items: center;
}

.element1 {
   display: flex;
   align-items: center;
   gap: 10px;
}

.element1 i {
   font-size: 30px;
   color: black;
}

.element2 {
   display: flex;
   align-items: center;
   gap: 30px;
   width: 40%;
   justify-content: end;
   font-size: 15px;


}

.element2 a {
   text-decoration: none;
   color: black;
   font-size: 15px;
   font-weight: 500;
}



.btn {
   color: white;
   display: flex;
   border: none;
   cursor: pointer;
   gap: 15px;

}

.btn button {
   border-radius: 20px;
   border: none;
   padding: 10px 25px;
}

.btn2 {
   background-color: black;
   color: white;
}


#section-2 {
    
   width: 100%;
   height: 100%;
}

.content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.content h1 {
   font-size: 50px;
   color: black;
}

.content p {
   font-size: 20px;
   color: black;
   width: 50%;
   text-align: center;
}